IoTDFS_UpdateIncident/SOA/Schemas/UpdateIncident.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/IoT_DFS/IoTDFS_UpdateIncident/UpdateIncident" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="UpdateIncidentReq">
      <complexType>
         <sequence>
            <element name="IncidentID" type="string"/>
            <element name="Status" type="string" minOccurs="0"/>
            <element name="Severity" type="string" minOccurs="0"/>
         </sequence>
      </complexType>
   </element>
   <element name="UpdateIncidentResponse">
      <complexType>
         <sequence>
            <element name="result" type="string"/>
         </sequence>
      </complexType>
   </element>
</schema>
