IoTDFS_CreateIncident/SOA/WSDLs/DeviceAlert.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="DeviceAlert" targetNamespace="http://xmlns.oracle.com/IoT_DFS/IoTDFS_CreateIncident/DeviceAlert" xmlns:tns="http://xmlns.oracle.com/IoT_DFS/IoTDFS_CreateIncident/DeviceAlert" xmlns:inp1="http://TargetNamespace.com/DeviceAlert_Alert_request" xmlns:inp2="http://xmlns.oracle.com/IoT_DFS/IoTDFS_CreateIncident/DeviceAlert" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:inp3="http://xmlns.oracle.com/IoT_DFS/IoTDFS_CreateIncident/CreateIncident">
   <plnk:partnerLinkType name="DeviceAlert">
      <plnk:role name="DeviceAlertProvider" portType="tns:DeviceAlert_ptt"/>
   </plnk:partnerLinkType>
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://TargetNamespace.com/DeviceAlert_Alert_request" schemaLocation="../Schemas/AlertData.xsd"/>
      </xsd:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/IoT_DFS/IoTDFS_CreateIncident/DeviceAlert" elementFormDefault="qualified">
         <element name="empty">
            <complexType/>
         </element>
      </schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://xmlns.oracle.com/IoT_DFS/IoTDFS_CreateIncident/CreateIncident" schemaLocation="../Schemas/CreateIncident.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="Alert_inputMessage">
      <wsdl:part name="request" element="inp1:AlertData"/>
   </wsdl:message>
   <wsdl:message name="Alert_outputMessage">
      <wsdl:part name="reply" element="inp3:IncidentResponse"/>
   </wsdl:message>
   <wsdl:message name="Rest_EmptyMessage">
      <wsdl:part name="Empty" element="tns:empty"/>
   </wsdl:message>
   <wsdl:portType name="DeviceAlert_ptt">
      <wsdl:operation name="Alert">
         <wsdl:input message="tns:Alert_inputMessage"/>
         <wsdl:output message="tns:Alert_outputMessage"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
