CustomOrderEvent/SOA/BPELProcess1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="BPELProcess1" targetNamespace="http://xmlns.oracle.com/ModernManufacturing_v1_111171/CustomOrderEvent/BPELProcess1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.oracle.com/ModernManufacturing_v1_111171/CustomOrderEvent/BPELProcess1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
   <wsdl:types>
      <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ModernManufacturing_v1_111171/CustomOrderEvent/BPELProcess1" xmlns="http://www.w3.org/2001/XMLSchema">
         <element name="process">
            <complexType>
               <sequence>
                  <element name="input" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="processResponse">
            <complexType>
               <sequence>
                  <element name="result" type="string"/>
               </sequence>
            </complexType>
         </element>
      </schema>
   </wsdl:types>
   <wsdl:message name="BPELProcess1RequestMessage">
      <wsdl:part name="payload" element="client:process"/>
   </wsdl:message>
   <wsdl:message name="BPELProcess1ResponseMessage">
      <wsdl:part name="payload" element="client:processResponse"/>
   </wsdl:message>
   <wsdl:portType name="BPELProcess1">
      <wsdl:operation name="process">
         <wsdl:input message="client:BPELProcess1RequestMessage"/>
         <wsdl:output message="client:BPELProcess1ResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <plnk:partnerLinkType name="BPELProcess1">
      <plnk:role name="BPELProcess1Provider">
         <plnk:portType name="client:BPELProcess1"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
